.frc-logo-horizontal-rule {
	
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	
	hr {
		
		flex: 1;
		
	}
	
	img {
		
		position: absolute;
		height: 2.5rem;
		padding: 10px;
		margin: 0 0.5rem;
		background: var(--color-bg)
		
	}
	
}
