@import "../../../assets/styles/variables";

footer {
	
	$spacing: 10px;
	
	@include expandToMaxWidth();
	
	margin-bottom: $spacing;
	background-color: var(--color-bg);
	
	.frc-logo-horizontal-rule {
		
		margin-bottom: 16px;
		
	}
	
	.footer-content {
		
		padding: 0 $spacing / 2;
		
		.row {
			
			display: flex;
			justify-content: space-between;
			align-items: center;
			
			p.repo-link, p.made-with-love {
				
				flex: 1;
				display: inline-block;
				font-size: 0.7em;
				opacity: 0.5;
				transition: 0.25s opacity ease;
				
				@keyframes heart-beat {
					
					0%, 30%, 60% { transform: scale(2); }
					15%, 45%, 75% { transform: scale(0.95); }
					
				}
				
				&:hover {
					
					opacity: 1;
					
					a {
						
						text-decoration: underline;
						
					}
					
					.heart {
						
						animation: heart-beat 1.5s infinite;
					
					}
					
				}
				
				a {
					
					color: #8CA9EE;
					text-decoration: none;
					
					&:hover {

						color: var(--color-first-blue);

					}
					
				}
				
			}
			
			p.made-with-love {
				
				text-align: right;
				
			}
			
			.social-media-icons {
				
				flex: 1;
				
			}
			
		}
		
		
		
	}
	
}
